.login-container {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 700px;
}

.image-container {
    width: 700px;
    height: 700px;
}

.image-container img {
    max-width: 100%;
}

.right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    height: 700px;
}

h4,h5 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    color: #00004f;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container {
    padding: 10px;
}

input[type="email"],
input[type="text"],
input[type="password"]{
    width: 280px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #0cb6ff;
    padding: 8px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #00004f;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #002cff;
}

.signup-forgot-password{
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.invis-btn{
    background: transparent;
    border: none;
    color: #00004f;
}

.submit-btn{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #66b5ff;
    color: #ffffff;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}