.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #66b5ff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 100%;
}

.navigation-bar button {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s ease;
    outline: none;
    border-radius: 7px;
    padding: 22px;
}

.navigation-bar button:hover {
    color: #66b5ff;
    background-color: #f3f3f3;
}
